body
{
    margin: 0px;
    background-color: #F4F6F9;
}
h1
{
    margin: auto 0.5rem;
    color: #1B1B1B;
}
.Header
{
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    margin: auto;
    box-shadow: 0 0 4px 0px #999999;
}
#SiteTitle
{
    float: left;
    margin: 6px 8px;
}
#HeaderGithubSculpture
{
    margin: 4px 4px 4px 0;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.ProjectViewBoard
{
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 4px #999999;
    border-radius: 8px;
    background-color: #FBFBFE;
}
.ProjectViewBoard:hover
{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 4px #9999FF;
    border-radius: 8px;
}
.ProjectViewBoardBoarder
{
    width: 90%;
    height: 140px;
    margin: 32px auto;
}
.ProjectViewBoardMainImg
{
    float:  left;
    width: auto;
    height: 60px;
    margin: 8px;
}
.ProjectViewBoardTitle
{
    float: left;
    margin: 16px 8px;
    font-weight: bold;
    font-size: xx-large;
    user-select: none;
}
.ProjectStatusIndicatorLight
{
    position: absolute;
    bottom: 0;
    margin: 16px;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: yellowgreen;
}